<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SC4_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <SC4_Launcher.Properties.Settings>
      <setting name="steam_path" serializeAs="String">
        <value></value>
      </setting>
      <setting name="steam_id" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value></value>
      </setting>
      <setting name="sc4_mapper_on" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sc4_mapper_path" serializeAs="String">
        <value></value>
      </setting>
      <setting name="alt_key_end" serializeAs="String">
        <value></value>
      </setting>
      <setting name="alt_key_pos1" serializeAs="String">
        <value></value>
      </setting>
    </SC4_Launcher.Properties.Settings>
  </userSettings>
</configuration>
